################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/alura_CSharp/JogoForca/.vs/JogoForca
