################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/alura_CSharp/
/alura_CPlusPlus/
/baimless-3/cm-cheat-1-test/.vs/cm-cheat-1-test/FileContentIndex/1b3fa130-a733-473b-884b-f79ba8043603.vsidx
/baimless-3/cm-cheat-1-test/.vs/cm-cheat-1-test/FileContentIndex/2634d016-7db3-4fef-9988-959f3db99a3d.vsidx
/baimless-3/cm-cheat-1-test/.vs/cm-cheat-1-test/FileContentIndex/2642d42b-f2d1-4add-884f-dbb441c1ae8c.vsidx
/baimless-3/cm-cheat-1-test/.vs/cm-cheat-1-test/FileContentIndex/617a9089-d772-41e5-bc26-d212c6502a45.vsidx
/baimless-3/cm-cheat-1-test/.vs/cm-cheat-1-test/FileContentIndex/673ccaef-72ff-41b1-b03d-4b5e1ae99a09.vsidx
/.vs/courses/FileContentIndex
/baimless-3/cm-cheat-1-test/.vs/cm-cheat-1-test/v17
/baimless-3/cm-cheat-1-test/cm-cheat-1-test/x64
/baimless-3/cm-cheat-1-test/x64/Release
/.vs/courses/v17
/.vs
/baimless-3/cm-cheat-1-test/.vs/cm-cheat-1-test/FileContentIndex
